{% extends 'membership/master/base.html' %}

{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-8">
    <h4>Change Password</h4>
  </div>
  <div class="col-4 text-end">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Sam Micheal
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'index' %}">Dashboard</a></li>
        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'login' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}