{% extends 'membership/master/base.html' %}

{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
  <div class="offset-3 col-6">
    <div class="card border-0 shadow-sm bg-light rounded-4">
      <div class="card-body p-5">
        <h4 class="card-title fw-bold text-uppercase">Forgot Password?</h4>
        <p class="card-subtitle">Let's get you on board</p>

        <div class="row mt-4">
          <div class="col-12">
            <div class="mb-3">
              <input type="text" class="form-control" name="" id="" placeholder="E-mail Address">
            </div>
          </div>
          <div class="col-12">
            <div class="d-grid gap-2">
              <button type="button" name="" id="" class="btn btn-primary text-uppercase text-light fw-bold">Reset Password</button>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <p class="mb-0">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}