{% extends 'membership/master/base.html' %}

{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
  <div class="offset-3 col-6">
    <div class="card border-0 shadow-sm bg-light rounded-4">
      <div class="card-body p-5">
        <h4 class="card-title fw-bold text-uppercase">Login</h4>
        <p class="card-subtitle">Welcome back, please login to your account.</p>

        <div class="row mt-4">
          <div class="col-12">
            <div class="mb-3">
              <input type="text" class="form-control" name="" id="" placeholder="Username or Email">
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <input type="password" class="form-control" name="" id="" placeholder="Password">
            </div>
          </div>
          <div class="col-6 align-self-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="chkRemember" value="">
              <label class="form-check-label" for="chkRemember">Remember Me</label>
            </div>
          </div>
          <div class="col-6 text-end">
            <a href="{% url 'forgot_password' %}" type="button" class="btn btn-link text-decoration-none">Forgot Password?</a>
          </div>
          <div class="col-12 mt-3">
            <div class="d-grid gap-2">
              <a href="{% url 'index' %}" type="button" name="" id="" class="btn btn-primary text-uppercase text-light fw-bold">Login</a>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <p class="mb-0">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}