[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.2"
asgiref = "==3.7.2"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.0"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
bcrypt = "*"
load-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
