{% extends 'backend/master/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<form method="POST">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand navbar-dark bg-warning rounded-3">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'dashboard_view' %}">Dashboard</a>
                    <a class="nav-item nav-link active" href="{% url 'users_view' %}" aria-current="page">Users <span class="visually-hidden">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Purchase</a>
                </div>
            </nav>
        </div>
        <div class="col-sm-12 offset-md-3 col-md-6 offset-lg-3 col-lg-6 mt-4">
            <h4 class="card-title fw-bold text-uppercase">Update User</h4>
            <p class="card-subtitle">Please fill all the details</p>
        </div>
        <div class="col-sm-12 offset-md-3 col-md-6 offset-lg-3 col-lg-6 mt-4">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary text-uppercase">Update</button>
            </div>
        </div>
        <div class="col-sm-12 offset-md-3 col-md-6 offset-lg-3 col-lg-6 mt-2">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-danger text-uppercase">Delete</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block js %}{% endblock js %}