{% extends 'backend/master/base.html' %}

{% block title %}{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark bg-warning rounded-3">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" href="{% url 'dashboard_view' %}">Dashboard</a>
                <a class="nav-item nav-link active" href="#" aria-current="page">Users <span class="visually-hidden">(current)</span></a>
                <a class="nav-item nav-link" href="#">Purchase</a>
            </div>
        </nav>
    </div>
    <div class="col-12 mt-3">
        <h4 class="card-title fw-bold text-uppercase">Users Management</h4>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 text-end">
        <a href="{% url 'user_add_view' %}" type="button" class="btn btn-primary">New User</a>
    </div>
    <div class="col-12 mt-4">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" width="5%">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile No.</th>
                                <th scope="col" class="text-end"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if users %}
                                {% for user in users %}
                                <tr class="">
                                    <td scope="row">{{ forloop.counter }}.</td>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.mobile }}</td>
                                    <td class="text-end">
                                        <a href="{% url 'user_update_view' user.id %}" type="button" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}{% endblock js %}